/* @font-face {
    font-family: "fanwood";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Fanwood.otf");
    font-display: swap;
} */

:root {
    --color-primary: #0a192f;
    --color-secondary: #01fff4;
    --color-text: #adbac7;
    --pink: #ff1178;
    --green: #7cff01;
    --yellow: #fff205;
    --font-family: "fanwoood";
    --font-weight-strong: 500;
    --font-size-h1: 4rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.35rem;
    --font-size-text: 1.15rem;
    --border-radius: 8px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html {
    overflow-x: hidden;
}


/* Set core body defaults */

body {
    font-family: "fanwood";
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    background-color: var(--color-primary);
    color: var(--color-text);
}


/* Make images easier to work with */

img {
    display: block;
    max-width: 100%;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
}

ul {
    list-style: none;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 3px 15px;
    background-color: #ff1178;
    cursor: pointer;
    width: 75.333px;
}

.start-btn {
    position: relative;
    margin: 0 auto;
}

.restart-btn {
    position: relative;
    left: 45%;
    transform: translateX(-50%);
    margin-right: 5px;
}

.mode-btn {
    position: relative;
    left: 45%;
    transform: translateX(-50%);
    margin-left: 5px;
}

.header {
    height: 80px;
    text-align: center;
    font-size: 1rem;
}

.start-container {
    padding: 0 60px;
    height: 100vh;
}

.container {
    padding: 0 60px;
    display: none;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
    .start-container {
        padding: 0 18px;
    }
    .container {
        padding: 0 18px;
    }
    .score-container {
        margin: 0 10px;
    }
}

.container.toggle-on {
    display: block;
}

.mode-selector {
    border: 1px solid #01fff4;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mode {
    background-color: var(--pink);
    color: var(--color-primary);
    border: 1px solid var(--pink);
    height: 100px;
    width: 300px;
}

.game-board {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: absolute;
    background-color: var(--pink);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scaleUp 0.8s;
    height: 90px;
    width: 390px;
    display: none;
    font-size: var(--font-size-h4);
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.toggle-on {
    /* animation: scaleDown 0.4s;
    transform: scale(0); */
    display: flex;
}

@keyframes scaleDown {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(0);
    }
}

.round-card {
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--pink);
    color: var(--color-primary);
    font-size: var(--font-size-h4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-board {
    margin-top: 20px;
    height: 70px;
    display: flex;
}

.score-container {
    margin: 0 20px;
    flex: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-h4);
}

.player {
    /* background-color: var(--color-text); */
    margin: 0 18px;
    color: var(--color-text);
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid var(--color-secondary); */
}

.board-grid {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /* user-select: none; */
}

.grid-fields {
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.grid-fields:nth-child(3n + 1) {
    border-left: none;
}

.grid-fields:nth-child(3n + 3) {
    border-right: none;
}

.grid-fields:nth-child(7),
.grid-fields:nth-child(8),
.grid-fields:nth-child(9) {
    border-bottom: none;
}

.grid-fields:nth-child(1),
.grid-fields:nth-child(4),
.grid-fields:nth-child(7) {
    border-right: none;
}

.grid-fields:nth-child(2),
.grid-fields:nth-child(5),
.grid-fields:nth-child(8) {
    border-right: none;
}

.grid-fields:first-child,
.grid-fields:nth-child(2),
.grid-fields:nth-child(3),
.grid-fields:nth-child(4),
.grid-fields:nth-child(5),
.grid-fields:nth-child(6),
.grid-fields:nth-child(7),
.grid-fields:nth-child(8),
.grid-fields:nth-child(9) {
    border-top: none;
}